    body{
        background-color: darksalmon;
    }

    .fill{
        background-image: url('https://source.unsplash.com/random/150x150');
        position: relative;
        height: 150px;
        width: 150px;
        top: 5px;
        left: 5px;
        cursor: pointer;
    }
    
    .empty{
        display: inline-block;
        margin: 10px;
        width: 160px;
        height: 160px;
        background-color: #fff;
        border: 3px solid salmon;
    }

    .hold{
        border: 4px solid #ccc;
    }
    .hovered{
        background-color: #f4f4f4;
        border-style: dashed;
    }
    .invisible{
        display: none;
    }